<div class="tabbable "> 
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">Main Details</a></li>
    <li><a href="#tab2" data-toggle="tab">Trading Hours</a></li>
    <li><a href="#tab3" data-toggle="tab">Specials</a></li>
  </ul>
   <%= form_for(@venue) do |f| %>
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
      <%= render 'shared/error_messages', object: f.object %>
      <%= render 'venue_form', f: f %>
    </div>
    <div class="tab-pane" id="tab2">
      <p> 
        <%= f.fields_for :trading_times do |builder| %>
        <%= render :partial => "trading_times/trading_times_form", 
            :locals => { :f => builder } %>
        <% end %>
      </p>
    </div>

    <div class="tab-pane" id="tab3">
      <%= f.fields_for :specials do |builder| %>
        <%= render :partial => "specials/specials_form", 
            :locals => { :f => builder } %>
      <% end %>
    </div>
    <%= f.submit "Submit Venue", class: "btn btn-large btn-primary" %>

    <% end %>
  </div>
</div>